CompileFlags:
  CompilationDatabase: build-ninja-clang
  Add:
    - "-std=c++23"
    - "-DNOMINMAX"
    - "-DWIN32_LEAN_AND_MEAN"
    - "-Iinclude"
    - "-Isrc"

Diagnostics:
  Suppress: [drv_unknown_argument]